<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>420327303492-nug5363hgd32n6bl9e4q93sl70d0hbgc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.420327303492-nug5363hgd32n6bl9e4q93sl70d0hbgc</string>
	<key>API_KEY</key>
	<string>AIzaSyDdutlr9NQkrbzKx_YIxo7qa1MhirqnQSA</string>
	<key>GCM_SENDER_ID</key>
	<string>420327303492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ee.kirjanov.shoppinglist</string>
	<key>PROJECT_ID</key>
	<string>shopping-list-e01d4</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-list-e01d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420327303492:ios:e865919a6b0bd877e78f11</string>
</dict>
</plist>